#projects__container {
    width: 75%;
}

.projects__list {
    padding: 5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5em;
    grid-gap: 70px;
}

.projects__header {
    margin: 10px 0 20px;
    color: var(--accent-1);
    font-family: var(--body-font);
    text-align: center;
    font-size: 3em;
    font-weight: 700;
}

.projects__item {
    display: flex;
    /* flex-wrap: wrap; */
    grid-gap: 30px;
}

.projects__item--desc {
    flex-grow: 1.2;
    flex-basis: 0;
    /* min-width: 0; */
}

.projects__item--img {
    flex-grow: 1;
    flex-basis: 0;
    /* min-width: 0; */
}

.projects__item--img--top {
    display: none;
}

.projects__image {
    width: 30vw;
    height: auto;
    /* border-radius: 10px; */
}

.projects__subtitle {
    color: var(--accent-2);
    font-size: 1.5em;
    font-weight: 600;
}

.projects__description {
    margin: 20px 0;
}

.projects__technologies ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    list-style-type: none;
    grid-gap: 5px 15px;
}

.projects__links {
    margin: 18px 0;
    font-weight: 600;
    color: var(--accent-1);
}

.projects__links a:first-child {
    margin: 0 25px 0 0;
}

.projects__dividers--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects__dividers--right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.projects__divider {
    height: 7px;
    margin: 15px 0;
    border: none;
}

.projects__divider--1 {
    width: 60%;
    background-color: var(--accent-3);
}

.projects__divider--2 {
    width: 80%;
    background-color: var(--accent-2);
}

@media (max-width: 999px) {
    #projects__container {
        margin-top: 450px;
    }
}

@media (max-width: 599px) {
    #projects__container {
        margin-top: 1150px;
    }

    .projects__item {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 30px;
    }

    .projects__item--desc {
        flex-grow: 0;
        flex-basis: auto;
        min-width: 0;
    }

    .projects__item--img {
        flex-grow: 0;
        flex-basis: auto;
        min-width: 0;
    }

    .projects__image {
        width: 100%;
        height: auto;
        /* border-radius: 10px; */
    }

    .projects__item--img--top {
        display: inline-block;
    }

    .projects__item--img {
        display: none;
    }
}
