#projects__container {
    width: 80%;
}

.projects__list {
    padding: 5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5em;
    grid-gap: 70px;
}

.projects__header {
    margin: 10px 0 20px;
    color: var(--accent-1);
    font-family: var(--body-font);
    text-align: center;
    font-size: 3em;
    font-weight: 700;
}

.projects__item {
    display: flex;
    /* flex-wrap: wrap; */
    grid-gap: 30px;
}

.projects__item--desc {
    flex-grow: 1.2;
    flex-basis: 0;
    min-width: 0;
}

.projects__item--img {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
}

.projects__image {
    width: 30vw;
    height: auto;
    border-radius: 10px;
}

.projects__subtitle {
    margin: 20px 0;
    color: var(--accent-2);
    font-size: 1.5em;
    font-weight: 600;
}

.projects__description {
    margin: 20px 0;
}

.projects__technologies ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    list-style-type: none;
    grid-gap: 15px;
}

.projects__dividers--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects__dividers--right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.projects__divider {
    height: 8px;
    margin: 15px 0;
    border: none;
}

.projects__divider--1 {
    width: 60%;
    background-color: var(--accent-3);
}

.projects__divider--2 {
    width: 80%;
    background-color: var(--accent-5);
}

@media (max-width: 999px) {
    #projects__container {
        width: 70%;
        height: fit-content;
    }

    .profile__container--content {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .profile__info {
        width: 100%;
    }

    .profile__image {
        margin: 30px 0;
        height: 20vw;
        width: 20vw;
    }

    .profile__links {
        margin: 0;
    }

    .profile__image--normal {
        display: none;
    }

    .profile__image--top {
        display: block;
    }
}

@media (max-width: 599px) {
    #projects__container {
        text-align: center;
    }

    .profile__container--content {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .profile__info {
        width: 100%;
    }

    .profile__header {
        font-size: 2em;
        margin: 10px 0 10px;
    }

    .profile__links {
        justify-content: center;
    }

    .profile__links {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .profile__links a:first-child,
    .profile__links a {
        margin: 10px;
    }

    .profile__image--top {
        display: none;
    }
}
