#technologies__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.technologies__header {
    margin: 10px 0 30px;
    color: var(--accent-1);
    font-family: var(--body-font);
    text-align: center;
    font-size: 3em;
    font-weight: 700;
}

.technologies__container--content {
    width: min(500px, 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

ul.technologies__list {
    margin: 0 30px;
    list-style-type: none;
}

ul.technologies__list li {
    margin: 10px 0;
}

ul.technologies__list li:before {
    content: "◉";
    line-height: 2em;
    padding-right: 8px;
    /* padding-top: -5px; */
    color: var(--accent-2);
    font-size: 0.8em;
}

@media only screen and (max-width: 672px) {
    #technologies__container {
        width: 80%;
    }

    .technologies__desc {
        text-align: center;
    }

    .technologies__container--content {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    }

    ul.technologies__list {
        margin: 0;
    }
}
