#profile__container {
    width: max(50vw, 950px, 58%);
    display: "flex";
    justify-content: "center";
    align-items: "center";
}

.profile__container--content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-items: center;
    height: max-content;
}

.profile__info {
    display: flex;
    width: max(36vw, 620px, 44%);
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5em;
}

.profile__header {
    margin: 10px 0 30px;
    color: var(--accent-1);
    font-family: var(--body-font);
    font-size: 3em;
    font-weight: 700;
}

.profile__image {
    background-image: url("../../assets/christy.jpg");
    background-size: cover;
    border-radius: 3px 3px 0 0;
    height: max(18vw, 300px);
    width: max(18vw, 300px);
    border-radius: 100%;
}

.profile__links {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.profile__links a:first-child {
    margin: 0 20px 0 0;
}

.profile__links a {
    margin: 0 20px 0;
}

.profile__image--top {
    display: none;
}

@media only screen and (max-width: 992px) {
    #profile__container {
        width: 70%;
        text-align: center;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .profile__info {
        width: 100%;
        margin-top: -15px;
    }

    .profile__image {
        align-self: center;
        margin: 0 0 20px 0;
        height: 20vw;
        width: 20vw;
    }

    .profile__links {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .profile__image--normal {
        display: none;
    }

    .profile__image--top {
        display: block;
    }

    .profile__links a:first-child {
        margin: 0 20px 0;
    }
}

@media only screen and (max-width: 672px) {
    #profile__container {
        width: 80%;
    }

    .profile__header {
        font-size: 2em;
        margin: 10px 0 20px;
    }

    .profile__image {
        height: 30vw;
        width: 30vw;
    }

    .profile__links {
        gap: 20px 0;
    }

    .profile__links a:first-child {
        margin: 0 10px 0;
    }

    .profile__links a {
        margin: 0 10px 0;
    }
}
