#main__container {
    padding-top: 40vh;
    top: 100vh;
}

#main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40vh;
    grid-gap: 300px;
}

@media only screen and (max-width: 992px) {
    #main__container {
        padding-top: 300px;
        top: 50vh;
    }
}
