#splash__container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: clip;
}

#splash__main {
    position: absolute;
    top: 33%;
    left: 22%;
    width: fit-content;
    height: fit-content;
    z-index: 10;
}

#splash__text {
    position: relative;
    width: fit-content;
    /* left: 22%; */
    z-index: 1;
}

#splash__title {
    color: var(--accent-1);
    font-family: var(--body-font);
    font-size: 3em;
    font-weight: 700;
    line-height: 1.2em;
}

#splash__desc,
#splash__cta {
    margin-top: 15px;
    padding-left: 3px;
    font-size: 1.2em;
    line-height: 1.5em;
}

#splash__cta {
    margin-top: 10px !important;
}

#splash__desc p {
    margin: 0px;
}

#splash__cta a {
    padding-bottom: 2px;
    color: var(--accent-1);
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid var(--accent-1);
    transition: var(--anchor-transition);
}

#splash__cta a:hover {
    color: var(--accent-5);
    border-bottom: 1px solid var(--accent-5);
}

#splash__social--lines {
    display: flex;
    height: fit-content;
    margin-top: 30px;
    gap: 30px;
}

#splash__social {
    display: flex;
    gap: 15px;
    z-index: 1;
}

.splash__social--icon {
    width: 40px;
    height: 40px;
    opacity: 0.6;
    transition: 0.3s;
}

.splash__social--icon:hover {
    opacity: 0.8;
}

#splash__verticals {
    position: absolute;
    top: 0vh;
    left: 73%;
    height: 102.5vh;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#splash__vertbar {
    position: absolute;
    width: 3vh;
    height: 100vh;
    background-color: var(--accent-1);
}

#splash__circle {
    position: absolute;
    top: 49%;
    background-color: var(--accent-3);
    border-radius: 100%;
    z-index: 2;
    transform-origin: center;
}

#splash__triangles {
    position: absolute;
    right: 0;
    bottom: 0;
}

#splash__triangle--1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-bottom: 50vh solid var(--accent-2);
}

#splash__triangle--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 33vw solid transparent;
    border-bottom: 33vh solid var(--accent-4);
}

#splash__triangle--3 {
    position: absolute;
    top: 30.5vh;
    margin-left: 33px;
    width: 0;
    height: 0;
    border-top: 20vh solid transparent;
    border-left: 20vw solid var(--accent-5);
    border-bottom: 20vh solid transparent;
}

#splash__lines {
    position: relative;
    width: 55%;
}

.splash__line {
    width: 100%;
    height: 3px;
    margin: 8px 0;
    background-color: var(--accent-5);
}

#splash__cylinders {
    position: absolute;
    top: -100px;
    left: 5vw;
    width: 20vw;
    height: 60vh;
    display: flex;
    gap: 1vw;
}

.splash__cylinder {
    width: 100%;
    background-color: var(--accent-5);
    background-color: var(--accent-3);
    border-radius: 100px;
}

.splash__cylinder--1 {
    height: 100%;
}

.splash__cylinder--2 {
    height: 80%;
}

.splash__cylinder--3 {
    height: 60%;
}

#splash__squiggly {
    position: absolute;
    top: 10vh;
    left: 22vw;
    width: 450px;
    height: 50px;
    overflow: hidden;
    z-index: 10;
}

.splash__squiggly--ellipse-1 {
    position: absolute;
    background: radial-gradient(
        ellipse,
        transparent,
        transparent 7px,
        var(--accent-5) 7px,
        var(--accent-5) 10px,
        transparent 11px
    );
    background-size: 36px 40px;
    width: 461px;
    height: 20px;
}

.splash__squiggly--ellipse-2 {
    top: 20px;
    left: 18px;
    background-position: 0px -20px;
}

/* @media (max-width: 999px) {
    #splash__main {
        top: 28%;
        width: 320px;
    }

    #splash__social {
        left: 45%;
    }
} */

@media (min-width: 576px) {
    #splash__main {
        top: 36%;
        left: 12%;
        width: 62%;
    }

    #splash__title {
        font-size: 5em;
    }

    #splash__desc,
    #splash__cta {
        margin-top: 15px;
        padding-left: 3px;
        font-size: 2.2em;
        line-height: 1.4em;
    }

    #splash__verticals {
        left: 80%;
        height: 105vh;
    }

    #splash__social {
        left: 35%;
    }

    #splash__social--lines {
        gap: 20px;
        padding-right: 30px;
    }

    #splash__triangle--1 {
        border-left: 81vw solid transparent;
        border-bottom: 40vh solid var(--accent-2);
    }

    #splash__triangle--2 {
        border-left: 50vw solid transparent;
        border-bottom: 25vh solid var(--accent-4);
    }

    #splash__triangle--3 {
        top: 40vh;
        margin-left: 60px;
        border-top: 10vh solid transparent;
        border-left: 20vw solid var(--accent-5);
        border-bottom: 10vh solid transparent;
    }

    #splash__lines {
        top: 58%;
    }

    #splash__cylinders {
        position: absolute;
        top: -350px;
        left: 5vw;
        width: 50vw;
        gap: 3vw;
    }

    #splash__circle {
        visibility: hidden;
    }

    #splash__cylinders {
        height: 50vh;
    }

    #splash__squiggly {
        left: 30vw;
    }
}
