#navbar__container {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    min-width: fit-content;
    padding: 75px;
}

#navbar__container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    gap: 40px;
    font-weight: 600;
    font-size: 1.1em;
}

#navbar__container li {
    color: var(--accent-5);
    cursor: pointer;
    transition: 0.3s;
}

#navbar__container li:hover {
    color: var(--accent-1);
}
