#navbar__container {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: fit-content;
    width: fit-content;
    padding: 50px;
    z-index: 20;
}

#navbar__container ul {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, max-content);
    list-style-type: none;
    gap: 40px;
    font-weight: 600;
    font-size: 1.1em;
}

#navbar__container li {
    color: var(--accent-5);
    cursor: pointer;
    transition: 0.3s;
}

#navbar__container li:hover {
    color: var(--accent-1);
}

@media only screen and (max-width: 992px) {
    #navbar__container {
        bottom: auto;
        margin: 0 0 30%;
        padding: 25px 0;
    }

    #navbar__container ul {
        grid-template-columns: repeat(2, max-content);
        font-size: 1.5em;
        gap: 40px;
    }
}

@media only screen and (max-width: 672px) {
    #navbar__container {
        bottom: auto;
        margin: 0 0 30%;
        padding: 10px 0;
    }

    #navbar__container ul {
        grid-template-columns: repeat(1, max-content);
        font-size: 1em;
        gap: 10px;
    }
}
