@import url("https://use.typekit.net/qqr7rbe.css");

:root {
  --body-font: aktiv-grotesk, sans-serif;
  --thin-font: aktiv-grotesk, sans-serif;
  --bg-color: #e9cc9c;
  --accent-1: #9c2e35;
  --accent-2: #384272;
  --accent-3: #e5b714;
  --accent-4: #feaea3;
  --accent-5: #353334;
  --accent-6: #2e4b33;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  background-color: var(--bg-color);

  overflow: hidden;
}
