@import url("https://use.typekit.net/qqr7rbe.css");

:root {
  --body-font: aktiv-grotesk, sans-serif;
  --thin-font: aktiv-grotesk, sans-serif;
  --body-color: #242323;
  --bg-color: #ecd3ab;
  --accent-1: #9c2e35;
  --accent-2: #384272;
  --accent-3: #e5b714;
  --accent-4: #feaea3;
  --accent-5: #444343;
  --accent-6: #2e4b33;
  --anchor-transition: 0.3s;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--body-color);
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.5em;
  background-color: var(--bg-color);
  overflow-x: hidden;
  font-weight: 300;
  letter-spacing: 0.2px;
  width: 100vw;
  overflow-x: hidden;
}

p {
  margin: 15px 0;
}

a.anchor__normal {
  color: var(--accent-5);
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid var(--accent-5);
  transition: 0.3s;
}

a.anchor__normal:hover {
  color: var(--accent-1);
  border-bottom: 1px solid var(--accent-1);
  transition: var(--anchor-transition);
}

a.anchor__title {
  color: var(--accent-2);
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

a.anchor__title:hover {
  color: var(--accent-1);
  transition: var(--anchor-transition);
}

.profile__divider {
  background-color: var(--accent-3);
  width: 50%;
  margin-top: 25px;
  height: 10px;
  -webkit-clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
}

.technologies__divider,
.contact__divider {
  background-color: var(--accent-5);
  width: 60%;
  height: 10px;
  margin-top: 20px;
  -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
}

@media (max-width: 599px) {
  .profile__divider {
    width: 100%;
  }
}
